asyncmy==0.2.10
certifi==2025.1.31
charset-normalizer==3.4.1
greenlet==3.1.1
grpc-interceptor==0.15.4
grpcio==1.71.0
idna==3.10
loguru==0.7.3
passlib==1.7.4
protobuf==6.30.1
psycopg2-binary==2.9.9
python-consul==1.1.0
pytz==2024.2
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.29
sqlalchemy-serializer==1.4.22
typing_extensions==4.12.2
urllib3==2.3.0